/* Product */
.product-container {
  display: flex;
  flex-direction: column;
}
.product-img {
  max-width: 500px;
  margin: 0 auto;
}

.product-text-container {
  padding: 3em;
}
.product-heading {
  text-align: center;
}
.product-brand-link {
  color: #0066cc;
  margin-left: 0.25em;
}
.checked {
  color: #ffe023;
}
.product-price {
  margin: 1em 0;
}
.product-benefits {
  margin-bottom: 3em;
  max-width: 600px;
}
.product-heading::after {
  content: "";
  width: 100px;
  height: 2px;
  background-color: black;
  border-color: black;
}
.fas:hover {
  cursor: pointer;
}
.product-quantity-container {
  display: flex;
  width: 6em;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em;
  border: 1px solid grey;
}
.product-btn-container {
  margin-top: 2em;
  display: flex;
  justify-content: flex-start;
}
.product-quantity-container {
  margin-right: 2em;
}
.btn {
  background: #ffe023;
  color: black;
  padding: 0.35em 1.35em;
  border-radius: 3px;
  display: flex;
  align-items: center;
  border: solid #ffe023;
}
.btn:hover,
.btn:focus {
  background: white;
}

@media screen and (min-width: 992px) {
  .product-container {
    flex-direction: row;
  }
}
