/* Loader brought in from https://loading.io/css/ */
.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid red;
  border-color: red transparent red transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.product-container {
  display: flex;
  flex-direction: column;
}
.product-img {
  max-width: 500px;
  margin: 0 auto;
}

.product-text-container {
  padding: 1em;
}
.product-heading {
  /* border: 1px solid red; */
  text-align: center;
}
.product-brand-link {
  color: #0066cc;
  margin-left: 0.25em;
}
.checked {
  color: #ffe023;
}
.product-price {
  margin: 1em 0;
}
.product-heading::after {
  content: "";
  width: 100px;
  height: 2px;
  background-color: black;
  border-color: black;
}
.fas:hover {
  cursor: pointer;
}
.product-quantity-container {
  display: flex;
  width: 6em;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em;
  border: 1px solid grey;
}
.product-btn-container {
  margin-top: 2em;

  display: flex;
  justify-content: center;
}
.product-quantity-container {
  margin-right: 2em;
}
.btn {
  background: #ffe023;
  color: black;
  padding: 0.35em 1.35em;
  border-radius: 3px;
}
