/* Global Styles */
body {
  margin: 0;
  font-size: 1rem;
  line-height: 1.6;
  font-family: "Work Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
p,
ul {
  color: #666666;
}
a {
  text-decoration: none;
}
ul {
  margin: 0;
  padding-left: 0.5em;
}
img {
  width: 100%;
}
